.my-footer {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff6ef;
  border-radius: 20px 20px 0px 0px;
}

.developer-name {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
