.start {
  background-color: rgb(234, 27, 27);
  padding: 10px;
  transition: 0.2s;
  border-radius: 20px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainpage {
  display: flex;
  align-items: center;
  justify-content: center;
}
